// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2019 IBM Corp.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "AST2600 EVB";
	compatible = "aspeed,ast2600-evb", "aspeed,ast2600";

	aliases {
		serial4 = &uart5;
	};

	chosen {
		bootargs = "console=ttyS4,115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		video_engine_memory: video {
			size = <0x04000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	vcc_sdhci0: regulator-vcc-sdhci0 {
		compatible = "regulator-fixed";
		regulator-name = "SDHCI0 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 ASPEED_GPIO(V, 0) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhci0: regulator-vccq-sdhci0 {
		compatible = "regulator-gpio";
		regulator-name = "SDHCI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 ASPEED_GPIO(V, 1) GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 1>,
			 <1800000 0>;
	};

	vcc_sdhci1: regulator-vcc-sdhci1 {
		compatible = "regulator-fixed";
		regulator-name = "SDHCI1 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 ASPEED_GPIO(V, 2) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhci1: regulator-vccq-sdhci1 {
		compatible = "regulator-gpio";
		regulator-name = "SDHCI1 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 ASPEED_GPIO(V, 3) GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 1>,
			 <1800000 0>;
	};

	fan0: pwm-fan0 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 0 40000 0>;        /* Target freq:25 kHz */
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		cooling-levels = <0 25 128 255>;
	};

	fan1: pwm-fan1 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 1 40000 0>;        /* Target freq:25 kHz */
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		cooling-levels = <0 15 128 255>;
	};

	fan2: pwm-fan2 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 2 40000 0>;        /* Target freq:25 kHz */
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		cooling-levels = <0 15 128 255>;
	};

	fan3: pwm-fan3 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 3 40000 0>;        /* Target freq:25 kHz */
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		cooling-levels = <0 15 128 255>;
	};

	fan4: pwm-fan4 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 4 40000 0>;        /* Target freq:25 kHz */
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		cooling-levels = <0 15 128 255>;
	};

	leds {
		compatible = "gpio-leds";

		identify {
			gpios = <&gpio0 ASPEED_GPIO(V, 7) GPIO_ACTIVE_LOW>;
		};
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
					<&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
					<&adc1 0>, <&adc1 1>, <&adc1 2>, <&adc1 3>,
					<&adc1 4>, <&adc1 5>, <&adc1 6>, <&adc1 7>;
	};
};

&pwm_tach {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default
				&pinctrl_pwm1_default
				&pinctrl_pwm2_default
				&pinctrl_pwm3_default
				&pinctrl_pwm4_default
				&pinctrl_tach0_default
				&pinctrl_tach1_default
				&pinctrl_tach2_default
				&pinctrl_tach3_default
				&pinctrl_tach4_default>;
	fan-0 {
		tach-ch = /bits/ 8 <0x0>;
	};
	fan-1 {
		tach-ch = /bits/ 8 <0x1>;
	};
	fan-2 {
		tach-ch = /bits/ 8 <0x2>;
	};
	fan-3 {
		tach-ch = /bits/ 8 <0x3>;
	};
	fan-4 {
		tach-ch = /bits/ 8 <0x4>;
	};
};

&mdio0 {
	status = "okay";
	ethphy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mdio1 {
	status = "disabled";

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mdio2 {
	status = "disabled";

	ethphy2: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mdio3 {
	status = "disabled";

	ethphy3: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac0 {
	status = "disabled";

	phy-mode = "rgmii-rxid";
	phy-handle = <&ethphy0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default>;
};


&mac1 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default>;

	nvmem-cells = <&eth0_macaddress>;
	nvmem-cell-names = "mac-address";
};

&mac2 {
	status = "disabled";

	phy-mode = "rgmii";
	phy-handle = <&ethphy2>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii3_default>;
};

&mac3 {
	status = "okay";

	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	use-ncsi;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default>;

	nvmem-cells = <&eth1_macaddress>;
	nvmem-cell-names = "mac-address";
};

&emmc_controller {
	status = "okay";
};

&emmc {
	status = "disabled";
	non-removable;
	bus-width = <4>;
	max-frequency = <100000000>;
	clk-phase-mmc-hs200 = <9>, <225>;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout-64.dtsi"
	};
	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <100000000>;
	};
	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <100000000>;
	};
};

&uart5 {
	// Workaround for A0
	compatible = "snps,dw-apb-uart";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
	CPU0_VR@70 {
		compatible = "mps,mp2985";
		reg = <0x70>;
	};
};

&i2c6 {
	status = "okay";
	tmp75@48 {
		compatible = "ti,tmp75";
		reg = <0x48>;
	};
};

&i2c7 {
	status = "okay";
	psu@58 {
		compatible = "pmbus";
		reg = <0x58>;
	};
	psu@59 {
		compatible = "pmbus";
		reg = <0x59>;
	};
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&i2c14 {
	status = "okay";
	eeprom@50 {
		label = "eeprom";
		compatible = "st,24c128", "atmel,24c128";
		reg = <0x50>;
		pagesize = <16>;
		#address-cells = <1>;
		#size-cells = <1>;
		#nvmem-cell-cells = <2>;
		nvmem-layout {
			compatible = "fixed-layout";

			eth0_macaddress: macaddress@c9 {
				reg = <0xc9 6>;
			};

			eth1_macaddress: macaddress@e3 {
				reg = <0xe3 6>;
			};
		};
	};
	tmp75@49 {
		compatible = "ti,tmp75";
		reg = <0x49>;
	};
};

&i2c15 {
	status = "okay";
};

&fsim0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

/*
 * The signal voltage of sdhci0 and sdhci1 on AST2600-A2 EVB is able to be
 * toggled by GPIO pins.
 * In the reference design, GPIOV0 of AST2600-A2 EVB is connected to the
 * power load switch that provides 3.3v to sdhci0 vdd, GPIOV1 is connected to
 * a 1.8v and a 3.3v power load switch that provides signal voltage to
 * sdhci0 bus.
 * If GPIOV0 is active high, sdhci0 is enabled, otherwise, sdhci0 is disabled.
 * If GPIOV1 is active high, 3.3v power load switch is enabled, sdhci0 signal
 * voltage is 3.3v, otherwise, 1.8v power load switch will be enabled,
 * sdhci0 signal voltage becomes 1.8v.
 * AST2600-A2 EVB also supports toggling signal voltage for sdhci1.
 * The design is the same as sdhci0, it uses GPIOV2 as power-gpio and GPIOV3
 * as power-switch-gpio.
 */

&vhub {
	status = "okay";
	pinctrl-names = "default";
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&gfx {
	status = "okay";
	memory-region = <&gfx_memory>;
};

&espi {
	status = "okay";
};

&syscon {
	uart-clock-high-speed;
	mac1-clk-delay = <0x10 0x19
						0x10 0x10
						0x10 0x10>;
};

&gpio0 {
	/* Enable GPIOP0 and GPIOP2 pass-through by default */
	pinctrl-names = "pass-through";
	pinctrl-0 = <&pinctrl_thru0_default
				 &pinctrl_thru1_default>;
	gpio-line-names =
		/*A0 - A7*/     "", "", "", "", "", "", "", "",
		/*B0 - B7*/     "", "", "", "", "", "", "", "",
		/*C0 - C7*/     "", "", "", "", "", "", "", "",
		/*D0 - D7*/     "", "", "", "", "", "", "", "",
		/*E0 - E7*/     "", "", "", "", "", "", "", "",
		/*F0 - F7*/     "", "", "", "", "", "", "", "",
		/*G0 - G7*/     "", "", "cpld-fw-ready", "", "", "", "", "id-button",
		/*H0 - H7*/     "", "", "", "", "", "", "", "",
		/*I0 - I7*/     "", "", "", "", "", "", "", "",
		/*J0 - J7*/     "", "", "", "", "", "", "", "",
		/*K0 - K7*/     "", "", "", "", "", "", "", "",
		/*L0 - L7*/     "", "", "", "", "", "", "", "",
		/*M0 - M7*/     "", "", "", "", "", "", "", "",
		/*N0 - N7*/     "", "", "", "", "", "", "", "",
		/*O0 - O7*/     "", "", "", "", "", "", "", "",
		/*P0 - P7*/     "POWER_BUTTON", "POWER_OUT", "RESET_BUTTON", "RESET_OUT", "", "", "BAT_CTRL", "",
		/*Q0 - Q7*/     "", "", "", "", "", "", "", "",
		/*R0 - R7*/     "POST_COMPLETE", "", "", "", "", "", "", "",	// POST_COMPLETE is dummy
		/*S0 - S7*/     "", "", "", "", "", "", "", "",
		/*T0 - T7*/     "", "", "", "", "", "", "", "",
		/*U0 - U7*/     "", "", "", "", "", "", "", "",
		/*V0 - V7*/     "", "", "", "", "", "", "", "led-identify",
		/*W0 - W7*/     "", "", "", "", "", "", "", "",
		/*X0 - X7*/     "", "", "", "", "", "", "", "",
		/*Y0 - Y7*/     "", "", "", "", "", "", "", "",
		/*Z0 - Z7*/     "", "", "", "", "", "", "", "";
};

&gpio1{
	gpio-line-names =
	/*AA0 - AA7*/   "PS_PWROK", "", "", "", "", "", "", "",
	/*AB0 - AB7*/   "", "", "", "", "", "", "", "",
	/*AC0 - AC7*/   "", "", "", "", "", "", "", "";
};

&adc0 {
	status = "okay";

	aspeed,int-vref-microvolt = <2500000>;

	/*If you want to set external reference voltage(i.e. not 1.2V or 2.5V).
		You should add vref-supply property as below and set the microvolt
		value at vdd_adc_vref node.*/
	//vref-supply = <&vdd_adc_vref>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
				&pinctrl_adc2_default &pinctrl_adc3_default
				&pinctrl_adc4_default &pinctrl_adc5_default
				&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	status = "okay";

	aspeed,int-vref-microvolt = <2500000>;

	/*If you want to set external reference voltage(i.e. not 1.2V or 2.5V).
		You should add vref-supply property as below and set the microvolt
		value at vdd_adc_vref node.*/
	//vref-supply = <&vdd_adc_vref>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
				&pinctrl_adc10_default &pinctrl_adc11_default
				&pinctrl_adc12_default &pinctrl_adc13_default
				&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&peci0 {
	status = "okay";
};